<div class="home__container">
	<app-card
		gameCover="assets/gtaV.png"
		gameLabel="DIGITAL"
		gameType="PS4™ e PS5™"
		gamePrice="R$98,96"
	>
	</app-card>
	<app-card
		gameCover="assets/eafc.jpg"
		gameLabel="EDIÇÃO STANDARD"
		gameType="PS4 e PS5"
		gamePrice="R$358,90"
	>
	</app-card>
	<app-card
		gameCover="assets/red.jpg"
		gameLabel="EDIÇÃO PADRÃO"
		gameType="PS4"
		gamePrice="R$248,90"
		>
	</app-card>
	<app-card
		gameCover="assets/homemaranha.jpg"
		gameLabel="Digital Deluxe"
		gameType="PS5"
		gamePrice="R$399,50"
	>
	</app-card>
	<app-card
		gameCover="assets/mirage.jpg"
		gameLabel="STANDARD EDITION"
		gameType="PS4 PS5"
		gamePrice="R$239,90"
	>
	</app-card>
	<app-card
		gameCover="assets/nhl.jpg"
		gameLabel="X-FACTOR EDITION"
		gameType="PS4 PS5"
		gamePrice="
		R$528,90"
	>
	</app-card>
	<app-card
		gameCover="assets/mw3.jpg"
		gameLabel="MWIII MULTIGERAÇÃO"
		gameType="PS4 PS5"
		gamePrice="R$299,00"
	>
	</app-card>
	<app-card
		gameCover="assets/horizon.jpg"
		gameLabel="EDIÇÃO COMPLETA"
		gameType="PS4 PS5"
		gamePrice="R$299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/mk1.jpg"
		gameLabel="EDIÇÃO STANDARD
		"
		gameType="PS4 PS5"
		gamePrice="R$299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/lp.jpg"
		gameLabel="STANDARD EDITION"
		gameType="PS4 PS5"
		gamePrice="R$299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/thm.jpg"
		gameLabel="PACOTE CROSS-GEN
		"
		gameType="PS4 PS5"
		gamePrice="R$329,90"
	>
	</app-card>
	<app-card
		gameCover="assets/pd3.jpg"
		gameLabel="PLAION"
		gameType="PS4 PS5"
		gamePrice="R$220,00"
	>
	</app-card>
</div>

